.hotel-components-search {
  display: grid;
  grid-template-columns: auto 3fr 1fr;
  grid-gap: 20px;
  width: 100%;
  margin-bottom: 10px;
  border: 1px solid #dee1e4;
  padding: 8px;
  border-radius: 8px;
  box-shadow: 2px 2px 4px #dee1e4;
}
.hotel-components-search img {
  width: 200px;
  height: 100%;
  border-radius: 8px;
}
.description-hotel h5 {
  color: #1e4a9b;
  font-weight: 700;
  font-size: 1.2rem;
}
.tag-hotel {
  display: inline-block;
  background-color: #198754;
  color: white;
  padding: 4px;
  border-radius: 8px;
}
.hotel-description {
  margin: 8px 0;
  font-weight: 700;
}
.description-hotel h6 {
  font-size: 900;
}
/* css phần đánh giá khách sạn */
.section-rate-hotel {
  margin-right: 10px;
  padding: 4px;
  position: relative;
  height: 300px;
}
.rate {
  display: flex;
  justify-content: space-between;
}
.rate div {
  display: block;
  background-color: #1e4a9b;
  width: fit-content;
  height: fit-content;
  padding: 4px;
  color: white;
}
.rate h5 {
  font-weight: 600;
}
.see-availability-btn {
  display: block;
  border: none;
  background: #1e4a9b;
  color: white;
  /* font-size: 1rem; */
  padding: 0 10px;
  /* width: 100%; */
  position: absolute;
  bottom: 0;
  border-radius: 8px;
}
.section-rate-hotel h2 {
  font-weight: 600;
  right: 52px;
  bottom: 85px;
  position: absolute;
}
.section-rate-hotel p {
  right: 0px;
  position: absolute;
  bottom: 35px;
}
