.search-content {
  margin: 30px auto 0 auto;
  width: 1024px;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-gap: 30px;
}
.table-input {
  background-color: #ffc107;
  height: fit-content;
  padding: 12px;
  border-radius: 8px;
}
.input-destination label,
.input-checkin-date label {
  display: block;
  font-weight: 500;
  margin: 4px 0;
}
.input-destination input,
.input-checkin-date input {
  display: block;
  width: 100%;
  border: none;
  border-radius: 4px;
  padding: 8px;
}

.input-options h5 {
  margin: 15px 0 10px 0;
}
.input-options label {
  font-size: 1rem;
}
.input-options input {
  display: block;
  width: 20%;
  border: none;
  border-radius: 4px;
}
.input-options div {
  display: flex;
  justify-content: space-between;
  margin: 0 10px 10px 10px;
}
.search-btn {
  display: block;
  border: none;
  color: white;
  background-color: #1e4a9b;
  padding: 10px;
  margin-top: 40px;
  width: 100%;
  border-radius: 8px;
}
