.intro-paragrah {
  width: 1024px;
  margin: 0 auto;
  margin-bottom: 80px;
  padding-bottom: 80px;
}
.intro-paragrah button {
  background-color: #0071c2;
  border: none;
  padding: 8px 15px;
  border-radius: 8px;
  color: white;
  margin-top: 10px;
}
