.img-type img {
  width: 100%;
  height: 140px;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px;
}
.type-description h2 {
  font-size: 1.8rem;
  font-weight: 600;
  margin-top: 8px;
}
.type-description h4 {
  font-size: 1.2rem;
}
