.type-of-hotel {
  width: 1024px;
  margin: 40px auto;
}
.type-components {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 25px;
  margin-top: 20px;
}
.type-of-hotel h1,
.type-of-hotel h2 {
  font-weight: 700;
  font-size: 2rem;
}
