.city-component img {
  width: 100%;
  border-radius: 12px;
  height: 240px;
}
.city-component {
  position: relative;
}
.text-description {
  position: absolute;
  left: 10%;
  bottom: 10%;
  color: white;
  font-weight: bold;
  line-height: 0.8;
  font-size: 2%;
}
