.add-new-room {
  padding: 20px;
}
.title {
  width: 100%;
  box-shadow: 1px 1px 5px 1px #ddd;
  padding: 12px;
  border-radius: 4px;
}
.form {
  margin-top: 20px;
  box-shadow: 1px 1px 5px 1px #ddd;
  padding: 20px 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 50px;
  border-radius: 4px;
}
.form button {
  width: 220px;
  border: none;
  background: #6300c0;
  color: white;
  padding: 12px 0;
  border-radius: 4px;
  font-size: 1.2rem;
}
.form label {
  color: black;
}
.form input {
  display: block;
  border: none;
  border-bottom: 1px solid #ddd;
  width: 70%;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 10px;
}
.form input:focus {
  outline: none;
}
.left {
  grid-area: 1/1/1/1;
}
.right select {
  display: block;
  margin-top: 10px;
  height: 35px;
  width: 70%;
  border-radius: 4px;
}
/* .rooms-input {
  grid-area: 2/1/3/3;
}
.rooms-input input {
  border: 1px solid #ddd;
  height: 120px;
} */
.left textarea {
  display: block;
  margin: 10px 0 20px 0;
  width: 70%;
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 10px;
  height: 120px;
  font-size: 16px;
  resize: none;
}
.left textarea:focus {
  outline: none;
}
