.propose-hotel {
  width: 1024px;
  margin: 0 auto;
}
.propose-hotel-components {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  margin-top: 20px;
}
.propose-hotel h1 {
  font-weight: 700;
  font-size: 2rem;
}
