.img-propose-hotel img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 4px;
  /* clip-path: polygon(0 0, 100% 0, 100% 75%, 0 25%); */
}
.infor-hotel {
  margin-top: 10px;
}
.infor-hotel h2 {
  font-weight: 600;
  font-size: 1.2rem;
}
.infor-hotel h5 {
  font-size: 1rem;
  font-weight: 400;
}
.infor-hotel h4 {
  font-size: 1rem;
  font-weight: 600;
}
.evalution-rate {
  display: inline-block;
  background-color: #6495ed;
  padding: 6px;
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
  border-radius: 4px;
  margin-right: 10px;
}
.evalution-hotel {
  margin-top: 15px;
}
.evalution-type {
  font-size: 1.2rem;
  font-weight: 500;
}
