.transactions {
  width: 1024px;
  margin: 30px auto;
}
.transactions table {
  border-collapse: collapse;
  width: 100%;
}
.transactions table th,
.transactions table td {
  border: 1px solid #ddd;
  padding: 8px;
  /* text-align: left; */
}
.transactions thead {
  background-color: #27a0b6;
  color: white;
}
.booked {
  background-color: #eeba89;
  color: #1a8a36;
  text-align: center;
  border-radius: 4px;
  padding: 2px;
}
.checkin {
  background-color: #99f3b0;
  color: #1a8a36;
  text-align: center;
  border-radius: 4px;
  padding: 2px;
}
.checkout {
  background-color: #ffacf8;
  color: #1a8a36;
  text-align: center;
  border-radius: 4px;
  padding: 2px;
}
