.details-content {
  width: 1024px;
  margin: 30px auto;
  position: relative;
}
.details-content img {
  width: 100%;
  border-radius: 8px;
  box-shadow: 2px 0 2px 2px #eeeeee;
}
.detail-pictures {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  margin: 20px 0;
}
.details-content h2 {
  font-weight: 600;
  margin-bottom: 10px;
}
.distance-detail {
  color: #1e4a9b;
  font-weight: 600;
}
.price-detail {
  color: #198754;
  font-weight: 600;
  margin-top: 10px;
}
.reverse-btn {
  background-color: #1e4a9b;
  color: white;
  border: none;
  padding: 15px;
  border-radius: 8px;
  position: absolute;
  right: 0;
  top: 25px;
}
.reverse-btn-ads {
  background-color: #1e4a9b;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 500;
  margin: 30px auto 0 auto;
  width: 100%;
}
.ads-blockk {
  background-color: #f0f5ff;
  /* background-color: black; */
  padding: 20px;
  border-radius: 8px;
  margin-left: 40px;
}
.footer-details-content {
  display: grid;
  grid-template-columns: 5fr 3fr;
}
.price-ads {
  font-size: 1.5rem;
}
.ads-blockk h4 {
  font-size: 1.4rem;
  margin-bottom: 20px;
}
.decription-text h3 {
  font-weight: 600;
  margin-bottom: 15px;
}
