.room {
  padding: 20px;
  position: relative;
}
.room h3 {
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 20px;
}
.table {
  position: relative;
  border-collapse: collapse;
  width: 100%;
  height: 650px;
  border: 1px solid #ddd;
}
.room table {
  border-collapse: collapse;
  width: 100%;
}
.room table th {
  border-right: 1px solid #ddd;
}
.room table td {
  padding: 12px;
}
.room thead {
  height: 50px;
  border-bottom: 1px solid #ddd;
}
.room tbody tr {
  border-bottom: 1px solid #ddd;
  text-align: center;
}
.page {
  border-top: 1px solid #ddd;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: end;
  bottom: 0;
  height: 60px;
  background-color: #f7f7f7;
}
.page-display {
  display: flex;
  align-items: center;
}
.page-actions {
  margin: 0 10px;
  width: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.add-btn {
  position: absolute;
  background-color: transparent;
  border: 1px solid #179733;
  top: 20px;
  right: 20px;
  color: #179733;
  border-radius: 4px;
  padding: 8px 15px;
}
.el button {
  border: 1px dashed red;
  padding: 4px 12px;
  background-color: transparent;
  border-radius: 4px;
  color: red;
}

.add-btn:hover {
  cursor: pointer;
}
