.nav-bar {
  width: 100%;
  background-color: #003580;
  color: white;
  padding: 10px 0;
}
.content {
  width: 1024px;
  margin: 0 auto;
}
.above-nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 10px;
}
.nav-btns {
  display: flex;
  list-style: none;
  padding: 0;
}
.nav-btns li {
  padding: 10px 15px;
}
.nav-btns a {
  color: white;
  text-decoration: none;
}
.active {
  border: 1px solid white;
  border-radius: 30px;
}
.authenticated {
  display: flex;
  align-items: center;
  justify-content: center;
}
.auth-container div {
  height: 100%;
}
.authenticated button {
  padding: 4px 8px;
  color: #003580;
  margin-left: 10px;
}
.auth-container button {
  margin-right: 10px;
  padding: 4px 8px;
  color: #003580;
}
