.transaction {
  padding: 20px;
}
.transaction h3 {
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 20px;
}
.table {
  position: relative;
  border-collapse: collapse;
  width: 100%;
  height: 650px;
  border: 1px solid #ddd;
}
.transaction table {
  border-collapse: collapse;
  width: 100%;
}
.transaction table th {
  border-right: 1px solid #ddd;
}
.transaction table td {
  padding: 12px;
}
.transaction thead {
  height: 50px;
  border-bottom: 1px solid #ddd;
}
.transaction tbody tr {
  border-bottom: 1px solid #ddd;
  text-align: center;
}
.page {
  border-top: 1px solid #ddd;
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: end;
  bottom: 0;
  height: 60px;
  background-color: #f7f7f7;
}
.page-display {
  display: flex;
  align-items: center;
}
.page-actions {
  margin: 0 10px;
  width: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.booked {
  background-color: #eeba89;
  color: #1a8a36;
  text-align: center;
  border-radius: 4px;
  padding: 2px;
}
.checkin {
  background-color: #99f3b0;
  color: #1a8a36;
  text-align: center;
  border-radius: 4px;
  padding: 2px;
}
.checkout {
  background-color: #ffacf8;
  color: #1a8a36;
  text-align: center;
  border-radius: 4px;
  padding: 2px;
}
