.nav-bar {
  border-right: 1px solid #ddd;
  padding: 30px;
  width: 250px;
}
.nav-bar ul {
  list-style: none;
}
.nav-bar ul li {
  margin-bottom: 20px;
  color: #8d8d8d;
}
.nav-bar ul h4 {
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 10px;
}
.nav-bar a {
  text-decoration: none;
  color: #8d8d8d;
}
.nav-bar svg {
  color: #6300c0;
  margin-right: 5px;
}
.nav a:hover,
.nav a:active,
.nav a.active {
  color: #b4a200;
  text-decoration: underline;
}
.nav-el {
  margin-left: 8px;
  margin-bottom: 8px;
}
