.subscribe-form {
  background-color: #6495ed;
  margin-top: 40px;
}
.content-subscribe-form {
  margin: 0 auto;
  max-width: 1980px;
  padding: 70px 0;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}
.content-subscribe-form h1 {
  display: block;
  margin-bottom: 20px;
  font-size: 3.5rem;
  font-weight: 600;
}
.content-subscribe-form h4 {
  display: block;
  margin-bottom: 20px;
  font-size: 1.4rem;
  font-weight: 400;
}
.input-form {
  display: flex;
  margin-top: 15px;
}
.input-form input {
  border: none;
  padding: 14px;
  border-radius: 8px;
  width: 25vw;
  margin-right: 10px;
}
.input-form button {
  border-radius: 8px;
  width: 8vw;
}
