.input-infor-form {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 1fr;
  width: 1024px;
  max-width: 1980px;
  position: absolute;
  bottom: -45px;
  left: 50%;
  transform: translate(-50%, 0);
  border: 5px solid #ffc107;
  background-color: white;
  border-radius: 10px;
  padding: 0 0 0 20px;
  font-size: 1.2rem;
  color: #343a40;
  font-weight: 700;
  z-index: 999999;
}
.input-infor-form div {
  padding: 10px 10px;
  text-align: center;
}
.input-infor-form input {
  border: none;
}
.btn-search {
  /* margin: 4px 4px; */
  color: white;
  border-radius: 4px;
  border: none;
  background-color: #1e4a9b;
}
.btn-search:link {
  color: white;
}
.location-to-going input:focus {
  outline: none;
  box-shadow: none;
  background-color: #fff;
}
.location-to-going {
  display: flex;
  align-items: center;
}
.date-booking {
  display: grid;
  grid-template-columns: 1fr 6fr 1fr 6fr;
  align-items: center;
  font-size: 1.2rem;
  position: relative;
}
.date-booking button {
  border: none;
  background-color: white;
}
.number-people-booking {
  font-size: 1.2rem;
  display: grid;
  grid-template-columns: auto 2fr auto 3fr auto 2fr;
  align-items: center;
}
.number-people-booking input {
  width: 20px;
  text-align: center;
  display: inline-block;
}
.celendar {
  padding: 0;
  margin: 0;
  position: absolute;
  bottom: 0;
  transform: translate(-20px, 100%);
}
.hide {
  display: none;
}
.number {
  padding: 0;
  display: flex;
  align-items: center;
  /* width: 100%; */
}
.number div {
  padding: 0;
  margin-left: 4px;
  font-size: 1rem;
  font-weight: 600;
}
.number input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
