.date-range-component {
  /* position: absolute;
  transform: translate(0, 60%); */
  /* bottom: -195px; */
  box-shadow: 0px 0px 20px 1px #757575e8;
  background-color: white;
  border-radius: 8px;
}
