.booking {
  width: 1024px;
  margin: 50px auto;
}
.ads-blockk {
  background-color: #f0f5ff;
  /* background-color: black; */
  padding: 20px;
  border-radius: 8px;
  margin-left: 40px;
}
.footer-details-content {
  display: grid;
  grid-template-columns: 5fr 3fr;
}
.price-ads {
  font-size: 1.5rem;
}
.ads-blockk h4 {
  font-size: 1.4rem;
  margin-bottom: 20px;
}
.booking h3 {
  font-weight: 600;
  margin-bottom: 10px;
}
.inf-booking {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 2fr 3fr;
}
.form input {
  display: block;
  width: 100%;
  border: 1px solid #e2e2e2;
  border-radius: 4px;
  height: 45px;
  margin-bottom: 20px;
  padding: 0 10px;
}
.rooms {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}
.room-el {
  /* padding: 15px; */
  display: flex;
  margin-left: 10px;
  justify-content: space-between;
}
.room-el h4 {
  font-size: 1.2rem;
  font-weight: 600;
}
.room-el p {
  margin-bottom: 2px;
  font-size: 0.9rem;
}
.room-el h6 {
  font-weight: 600;
  font-size: 1rem;
}
.room-options {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.room-option {
  color: #808080;
  margin-left: 10px;
}
.room-option input {
  display: block;
  margin: 0 auto;
}
.room-option label {
  font-size: 0.8rem;
}
.total-bill {
  margin-bottom: 100px;
}
.total-bill h3 {
  margin-bottom: 20px;
}
.total-bill select {
  width: 300px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #c2c2c2;
  background-color: #f3f3f3;
}
.total-bill button {
  border: none;
  margin-left: 100px;
  padding: 10px 50px;
  background-color: #1e4a9b;
  color: white;
  border-radius: 4px;
}
.inf-form {
  position: relative;
}
.err-alert {
  position: absolute;
  padding: 10px 40px;
  background: #ffa7a7;
  border: 2px solid red;
  color: red;
  border-radius: 4px;
  left: 220px;
  top: 0px;
}
.hide {
  display: none;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
  display: none;
}
