.root-layout {
  display: grid;
  grid-template-columns: auto 1fr;
  color: #8d8d8d;
}
.root-layout main {
  grid-area: 1/2/1/3;
}
.title-bar {
  width: 100%;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  padding: 20px 30px;
  width: 250px;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
  color: #6300c0;
  border: 1px solid #ddd;
  border-bottom: none;
  border-top: none;
}
.action {
  margin-right: 30px;
}
.action button {
  border: none;
  color: white;
  background-color: #6300c0;
  padding: 8px 15px;
}
