.login {
  width: 1024px;
  margin: 30px auto;
  text-align: center;
}

.login h2 {
  margin-bottom: 30px;
}
.login-form {
  width: 20%;
  margin: 0 auto;
  position: relative;
}
.login-form input {
  height: 40px;
  display: block;
  width: 100%;
  margin-bottom: 10px;
}
.login-form button {
  width: 100%;
  background-color: #0071c2;
  color: white;
  border: none;
  padding: 8px 0;
  border-radius: 8px;
}
.message {
  position: absolute;
  top: -20px;
  color: red;
}
